body{
background-color:#F5F5F5;
}

img{

margin-top:30px;
margin-left:30px;

}

#d1{
display:flex;
height:200px;
}

#d2{
margin-top:100px;
margin-left:20px;
}
#d3{
margin-top:30px;
margin-left:1300px;
font-size:15px;
font-weight:bold;
}
#d4{
margin-left:30px;
font-weight:bold;

}